mail.smtp.host=smtp.unirioja.es
mail.smtp.port=587
mail.smtp.starttls.enable=true
mail.smtp.auth=true
# tu usuario 
mail.smtp.user=nodel@unirioja.es
# tu contrase\u00f1a
mail.smtp.password=1234567890Bujarrabal
mail.smtp.ssl.trust=smtp.unirioja.es
mail.smtp.ssl.checkserveridentity=false