<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}"
      class="h-100" lang="es">

    <head>
        <title>Electrosa - PAW</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/static/assets/images/logo/apple-touch-icon.png}"/>
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/static/assets/images/logo/favicon-32x32.png}"/>
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/static/assets/images/logo/favicon-16x16.png}"/>

        <link rel="stylesheet" th:href="@{/static/assets/css/style.css}"/>
        <link rel="stylesheet" th:href="@{/static/assets/css/custom.css}"/>

        <link rel="preconnect" href="https://fonts.googleapis.com"/>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"/>
    </head>

    <body>
        <div class="overlay" data-overlay></div>

        <!-- HEADER -->
        <header>
            <div class="header-top">
                <div class="container">
                    <ul class="header-social-container">
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>
                    </ul>



                    <div class="header-top-actions">
                        <select name="currency">
                            <option value="eur">EUR €</option>
                            <option value="usd">USD $</option>
                        </select>
                        <form action="/electrosa/i18n/lang" method="post">
                            <select name="lang" id="language-selector">
                                <option value="es" th:text="#{lang.es}" th:selected="${#strings.equals(#locale.toString(), 'es')}"></option>
                                <option value="en" th:text="#{lang.en}" th:selected="${#strings.equals(#locale.toString(), 'en')}"></option>
                                <option value="fr" th:text="#{lang.fr}" th:selected="${#strings.equals(#locale.toString(), 'fr')}"></option>
                                <option value="de" th:text="#{lang.de}" th:selected="${#strings.equals(#locale.toString(), 'de')}"></option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>

            <div class="header-main">
                <div class="container">
                    <a href="/electrosa/" class="header-logo">
                        <span>ELECTROSA</span>
                    </a>

                    <div class="header-search-container">
                        <input type="search" name="search" class="search-field" 
                               placeholder="Buscar en toda la tienda">
                            <button class="search-btn">
                                <ion-icon name="search-outline"></ion-icon>
                            </button>
                    </div>

                    <div class="header-user-actions">
                        <a href="/electrosa/cliente/cuenta" class="action-btn">
                            <ion-icon name="person-outline"></ion-icon>
                        </a>
                        <a href="/electrosa/cliente/wishlist" class="action-btn"><ion-icon name="heart-outline"></ion-icon><span class="count" id="wishlist-count">0</span></a>
                        <a href="/electrosa/cliente/cesta" class="action-btn">
                            <ion-icon name="bag-handle-outline"></ion-icon>
                            <span class="count">0</span>
                        </a>
                    </div>
                </div>
            </div>

            <nav class="desktop-navigation-menu">
                <div class="container">
                    <ul class="desktop-menu-category-list">
                        <li class="menu-category">
                            <a href="/electrosa/" class="menu-title">Home</a>
                        </li>
                        <li class="menu-category">
                            <a href="/electrosa/catalogo/?family=aspiradores" class="menu-title">Aspiradores</a>
                        </li>
                        <li class="menu-category">
                            <a href="/electrosa/catalogo/?family=frigorificos" class="menu-title">Frigoríficos</a>
                        </li>
                        <li class="menu-category">
                            <a href="/electrosa/catalogo/?family=lavadoras" class="menu-title">Lavadoras</a>
                        </li>
                        <li class="menu-category">
                            <a href="/electrosa/catalogo/?family=cocinas" class="menu-title">Cocinas</a>
                        </li>
                        <li class="menu-category">
                            <a href="/electrosa/blog/" class="menu-title">Blog</a>
                        </li>
                        <li class="menu-category">
                            <a href="/electrosa/ofertas/packs" class="menu-title">Ofertas</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="mobile-bottom-navigation">
                <button class="action-btn" data-mobile-menu-open-btn>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
                <button class="action-btn">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <span class="count">0</span>
                </button>
                <button class="action-btn">
                    <ion-icon name="home-outline"></ion-icon>
                </button>
                <button class="action-btn">
                    <ion-icon name="heart-outline"></ion-icon>
                    <span class="count">0</span>
                </button>
                <button class="action-btn" data-mobile-menu-open-btn>
                    <ion-icon name="grid-outline"></ion-icon>
                </button>
            </div>

            <nav class="mobile-navigation-menu has-scrollbar" data-mobile-menu>
                <div class="menu-top">
                    <h2 class="menu-title">Menu</h2>
                    <button class="menu-close-btn" data-mobile-menu-close-btn>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>
                </div>
                <ul class="mobile-menu-category-list">
                    <li class="menu-category">
                        <a href="#" class="menu-title">Aspiradores</a>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Frigoríficos</a>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Lavadoras</a>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Cocinas</a>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Blog</a>
                    </li>
                    <li class="menu-category">
                        <a href="#" class="menu-title">Ofertas</a>
                    </li>
                </ul>
                <div class="menu-bottom">
                    <ul class="menu-category-list">
                        <li class="menu-category">
                            <button class="accordion-menu" data-accordion-btn>
                                <p class="menu-title">Language</p>
                                <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                            </button>
                            <ul class="submenu-category-list" data-accordion>
                                <li class="submenu-category">
                                    <a class="submenu-title" href="?lang=en">English</a>
                                </li>
                                <li class="submenu-category">
                                    <a class="submenu-title" href="?lang=es">Español</a>
                                </li>
                                <li class="submenu-category">
                                    <a href="#" class="submenu-title">Frençh</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-category">
                            <button class="accordion-menu" data-accordion-btn>
                                <p class="menu-title">Currency</p>
                                <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
                            </button>
                            <ul class="submenu-category-list" data-accordion>
                                <li class="submenu-category">
                                    <a href="#" class="submenu-title">USD &dollar;</a>
                                </li>
                                <li class="submenu-category">
                                    <a href="#" class="submenu-title">EUR &euro;</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="menu-social-container">
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- MAIN CONTENT -->
        <main layout:fragment="main-content">
            <!-- BANNER -->
            <div class="banner">
                <div class="container">
                    <div class="slider-container has-scrollbar">
                        <div class="slider-item">
                            <img th:src="@{/static/assets/images/murat-demircan-NcCMsdDJXIY-unsplash.jpg}" 
                                 class="banner-img">
                                <div class="banner-content">
                                    <p class="banner-subtitle">Rebajas</p>
                                    <h2 class="banner-title">Ofertas en stock</h2>
                                    <p class="banner-text">
                                        desde <b>85</b>&euro;
                                    </p>
                                    <a href="/electrosa/catalogo" class="banner-btn">Ver productos</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PRODUCT -->
            <div class="product-container">
                <div class="container">
                    <!-- SIDEBAR -->
                    <div class="sidebar has-scrollbar" data-mobile-menu>
                        <div class="product-showcase">
                            <h3 class="showcase-heading">Más vendidos</h3>
                            <div class="showcase-wrapper">
                                <div class="showcase-container">
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img th:src="@{/static/assets/images/store/Lavadora/lavadora1011.jpg}"
                                                 width="75" height="75" class="showcase-img">
                                        </a>
                                        <div class="showcase-content">
                                            <a href="#">
                                                <h4 class="showcase-title">Beko Secadora de Condensación</h4>
                                            </a>
                                            <div class="showcase-rating">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                            </div>
                                            <div class="price-box">
                                                <del>340&euro;</del>
                                                <p class="price">320&euro;</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img th:src="@{/static/assets/images/store/Lavavajillas/lavavajillas156.jpg}"
                                                 class="showcase-img" width="75" height="75">
                                        </a>
                                        <div class="showcase-content">
                                            <a href="#">
                                                <h4 class="showcase-title">Balay 3VS6030IA Lavavajillas</h4>
                                            </a>
                                            <div class="showcase-rating">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-half-outline"></ion-icon>
                                            </div>
                                            <div class="price-box">
                                                <del>170&euro;</del>
                                                <p class="price">155&euro;</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img th:src="@{/static/assets/images/store/Horno/horno156.jpg}" 
                                                 class="showcase-img" width="75" height="75">
                                        </a>
                                        <div class="showcase-content">
                                            <a href="#">
                                                <h4 class="showcase-title">Teka Pirolítico Horno Multifunción</h4>
                                            </a>
                                            <div class="showcase-rating">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star-half-outline"></ion-icon>
                                            </div>
                                            <div class="price-box">
                                                <del>150&euro;</del>
                                                <p class="price">130&euro;</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="showcase">
                                        <a href="#" class="showcase-img-box">
                                            <img th:src="@{/static/assets/images/store/Horno/horno153.jpg}"
                                                 class="showcase-img" width="75" height="75">
                                        </a>
                                        <div class="showcase-content">
                                            <a href="#">
                                                <h4 class="showcase-title">Bosch Horno Multifunción</h4>
                                            </a>
                                            <div class="showcase-rating">
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                                <ion-icon name="star"></ion-icon>
                                            </div>
                                            <div class="price-box">
                                                <del>150&euro;</del>
                                                <p class="price">120&euro;</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-box">
                        <!-- PRODUCT FEATURED -->
                        <div class="product-featured">
                            <h2 class="title uppercase">Producto destacado</h2>
                            <div class="showcase-wrapper">
                                <div class="showcase-container">
                                    <div class="showcase">
                                        <div class="showcase-banner">
                                            <img th:src="@{/static/assets/images/planetcare-5cpBWEl6y6c-unsplash.jpg}"
                                                 class="showcase-img">
                                        </div>
                                        <div class="showcase-content">
                                            <a href="#">
                                                <h3 class="showcase-title">Balay 3TS994XD Lavadora carga frontal</h3>
                                            </a>
                                            <p class="showcase-desc">
                                                Poner la lavadora es ahora más cómodo que nunca. Rellenas el cajetín con 1
                                                litro de detergente y 0,5 litros de suavizante ¡y te olvidas durante más de
                                                un mes! La lavadora administra el detergente justo en cada ciclo, evitando
                                                la habitual sobredosificación.
                                            </p>
                                            <p class="showcase-desc">
                                                De este modo ahorras agua ya que, al no haber
                                                exceso de espuma, se reduce el número de aclarados. Además, evitas el riesgo
                                                de alergias, porque no quedan residuos de producto en la ropa. Y por
                                                supuesto, ahorras trabajo y ganas comodidad.
                                            </p>
                                            <div class="price-box">
                                                <p class="price">350&euro;</p>
                                                <del>410&euro;</del>
                                            </div>
                                            <a class="add-cart-btn block" href="/catalogo/">Comprar ahora</a>
                                            <div class="countdown-box">
                                                <p class="countdown-desc">
                                                    La oferta termina en
                                                </p>
                                                <div class="countdown">
                                                    <div class="countdown-content">
                                                        <p class="display-number">3</p>
                                                        <p class="display-text">días</p>
                                                    </div>
                                                    <div class="countdown-content">
                                                        <p class="display-number">21</p>
                                                        <p class="display-text">horas</p>
                                                    </div>
                                                    <div class="countdown-content">
                                                        <p class="display-number">59</p>
                                                        <p class="display-text">min</p>
                                                    </div>
                                                    <div class="countdown-content">
                                                        <p class="display-number">00</p>
                                                        <p class="display-text">seg</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BLOG -->
            <div class="blog">
                <div class="container">
                    <div class="blog-container has-scrollbar">
                        <div class="blog-card">
                            <a href="/electrosa/blog/paw-2023">
                                <img th:src="@{/static/assets/images/freepik/group-friends-with-electronic-devices.jpg}"
                                     width="300" class="blog-banner">
                            </a>
                            <div class="blog-content">
                                <div class="blog-category">PAW</div>
                                <a href="/electrosa/blog/paw-2023">
                                    <h3 class="blog-title">Electrosa con los estudiantes de la Universidad desde 2003</h3>
                                </a>
                                <p class="blog-meta">
                                    Por <cite>Francisco</cite> /
                                    <time datetime="2023-10-01">1 Octubre, 2023</time>
                                </p>
                            </div>
                        </div>
                        <div class="blog-card">
                            <a href="/electrosa/blog/tendencias-decorativas">
                                <img th:src="@{/static/assets/images/blog/jason-briscoe-GliaHAJ3_5A-unsplash.jpg}"
                                     class="blog-banner" width="300">
                            </a>
                            <div class="blog-content">
                                <div class="blog-category">Tendencias</div>
                                <h3>
                                    <a href="/electrosa/blog/tendencias-decorativas" class="blog-title">Tendencias decorativas que no pasan de moda</a>
                                </h3>
                                <p class="blog-meta">
                                    Por <cite>Dustin</cite> /
                                    <time datetime="2024-12-26">26 Diciembre, 2024</time>
                                </p>
                            </div>
                        </div>
                        <div class="blog-card">
                            <a href="/electrosa/blog/consejos-renovar-casa">
                                <img th:src="@{/static/assets/images/blog/kam-idris-Ot2iTXgC6fY-unsplash.jpg}"
                                     class="blog-banner" width="300">
                            </a>
                            <div class="blog-content">
                                <div class="blog-category">Consejos</div>
                                <h3>
                                    <a href="/electrosa/blog/consejos-renovar-casa" class="blog-title">5 consejos clave para renovar tu casa</a>
                                </h3>
                                <p class="blog-meta">
                                    Por <cite>Tormund</cite> /
                                    <time datetime="2025-03-09">9 Marzo, 2025</time>
                                </p>
                            </div>
                        </div>
                        <div class="blog-card">
                            <a href="/electrosa/blog/semana-verde">
                                <img th:src="@{/static/assets/images/blog-4.jpg}" 
                                     class="blog-banner" width="300">
                            </a>
                            <div class="blog-content">
                                <div class="blog-category">Promociones</div>
                                <h3>
                                    <a href="/electrosa/blog/semana-verde" class="blog-title">Semana verde del ahorro en cocinas</a>
                                </h3>
                                <p class="blog-meta">
                                    Por <cite>Víctor</cite> /
                                    <time datetime="2025-01-26">26 Enero, 2025</time>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- FOOTER -->
        <footer>
            <div class="footer-nav">
                <div class="container">
                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <h2 class="nav-title">Sobre Electrosa</h2>
                        </li>
                        <li class="footer-nav-item">
                            <a href="/electrosa/info/almacenes" class="footer-nav-link">Dónde estamos</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="/electrosa/about/team" class="footer-nav-link">Nuestro equipo</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Trabaja con nosotros</a>
                        </li>
                    </ul>

                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <h2 class="nav-title">Información</h2>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Seguir pedido</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="/electrosa/about/delivery" class="footer-nav-link">Plazos de entrega</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="/electrosa/marcas" class="footer-nav-link">Marcas</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Formas de pago</a>
                        </li>
                    </ul>

                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <h2 class="nav-title">Servicios</h2>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Tarjeta PAW</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Financiación de compras</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Devoluciones</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Mapa del sitio</a>
                        </li>
                    </ul>

                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <h2 class="nav-title">Extras</h2>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Blog</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Etiquetado energético</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Política de cookies</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Política de privacidad</a>
                        </li>
                    </ul>

                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <h2 class="nav-title">Contacto</h2>
                        </li>
                        <li class="footer-nav-item flex">
                            <div class="icon-box">
                                <ion-icon name="location-outline"></ion-icon>
                            </div>
                            <address class="content">
                                <b>Facultad de Ciencia y Tecnología</b>
                                <br/>
                                Edificio CCT<br/>
                                C/ Madre de Dios, 53<br/>
                                26006 Logroño (La Rioja)
                            </address>
                        </li>
                        <li class="footer-nav-item flex">
                            <div class="icon-box">
                                <ion-icon name="call-outline"></ion-icon>
                            </div>
                            <a href="tel:+34 941001002" class="footer-nav-link">941 001 002</a>
                        </li>
                    </ul>

                    <ul class="footer-nav-list">
                        <li class="footer-nav-item">
                            <h2 class="nav-title">Redes sociales</h2>
                        </li>
                        <li>
                            <ul class="social-link">
                                <li class="footer-nav-item">
                                    <a href="#" class="footer-nav-link">
                                        <ion-icon name="logo-facebook"></ion-icon>
                                    </a>
                                </li>
                                <li class="footer-nav-item">
                                    <a href="#" class="footer-nav-link">
                                        <ion-icon name="logo-twitter"></ion-icon>
                                    </a>
                                </li>
                                <li class="footer-nav-item">
                                    <a href="#" class="footer-nav-link">
                                        <ion-icon name="logo-linkedin"></ion-icon>
                                    </a>
                                </li>
                                <li class="footer-nav-item">
                                    <a href="#" class="footer-nav-link">
                                        <ion-icon name="logo-instagram"></ion-icon>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <p class="copyright">
                        Programación de aplicaciones web - Universidad de La Rioja
                        <br/>
                        &#x2661;
                        Crafted with love
                    </p>
                </div>
            </div>
        </footer>

        <!-- SCRIPTS -->
        <script th:src="@{/static/assets/js/practica8_language.js}"></script>
        <script th:src="@{/static/assets/js/script.js}"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


    </body>
</html>